
body{
    font-family: "Inter", sans-serif;
    margin: 0px;

}

.form__container{
    .default-label{
        margin-bottom: 5px;
    }
    .input__wrapper {
        position: relative;
    }
    .default-input {
        width: 97%;
        border-radius: 6px;
        border: 1px solid #C1C1C1;
        padding: 7px 5px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
}
.input-password{
    position: absolute;
    top: 12px;
    right: 10px;
    border-bottom: 1px solid;
    font-size: 12px;
    cursor: pointer;
}

.loadingBlock {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #F6F6F6), color-stop(18%, #F0F0F0), color-stop(33%, #F6F6F6));
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 800px 104px;
    height: auto;
    position: relative;
  }
  .input-error{
    font-size: 12px;
    color: red;
    margin-bottom: 5px;
  }